*{margin: 1; padding: 2;}

h5,h6,h2,h3,h4 {
  background-color: rgba(236, 209, 88, 0.733);
}

h1{
  margin: 0;
}

button {
  background-color: rgba(241, 210, 32, 0.76);
  font-size: 20px;
  color: black;
  font-family: Arial, Helvetica, sans-serif

}

#titulo {
  font-size: 100px;
  }

body {
  background-image: url(https://lh3.googleusercontent.com/p/AF1QipMHc8mncQpSj-JGiIYZsqJfMc-FibnNjWL36GOK=s1360-w1360-h1020);
  background-size: cover;
  background-position: center;
}
  
header {
  border-bottom: 2px solid white;
  margin-bottom: 10px;
  background: rgb(0,0,0, 0.5);
}
.login{
  background-color : white;
  
}

.nav-bar {
  margin-bottom: 40px;
  background: rgba(221, 220, 220, 0.5);
}

.email{
  background: rgba(221, 220, 220, 0.5);
  padding: 10px;
}

.titulo2{
  background-color: rgba(241, 210, 32, 0.76);
  font-size: 25px;
}

.whatsapp-info{
  font-size: 18px;
  background-position: relative;
  left: 0;
  float: right;
}

.menu-complete{
  display: inline-block;
}

.footer{
  position: relative;
  left: 1px;

}

div{
  margin-bottom: 10px;
}

.titulo-1{
  
}