h5 {
  background-color: rgb(241, 221, 128);
}

button {
  background-color: rgba(241, 210, 32, 0.76);
  font-size: 20px;
}

#titulo {
  font-size: 100px;
  background: rgba(241, 210, 32, 0.76);
}

.email {
  background-color: rgba(241, 210, 32, 0.76);
}

body {
  background-color: rgb(241, 221, 128);
}
  
header {
  border-bottom: 2px solid white;
  margin-bottom: 10px;
}

.nav-bar {
  margin-bottom: 10px;
}
